#crop-rotation > #well {
  background-color: #333;
  color: white;
  border: 2px solid;
  border-top-left-radius: 6px;  
  border-color: #444;
  border-bottom-width: 0px;
  border-right-width: 0px;
  float: left;
  max-width: 200px;
  height: 400px;
}

#crop-rotation > #main {
  position: relative;
  overflow: hidden;
  height: 400px;
  border: 2px solid;
  border-top-right-radius: 6px;  
  border-bottom-width: 0px;
  border-color: #444;
}

#crop-rotation > #edit {
  height: 200px;
  width: 100%px;
  background-color: #333;
  color: white;
  border: 2px solid;
  border-bottom-right-radius: 6px;  
  border-bottom-left-radius: 6px;  
  border-color: #444;
  /*border-top-width: 0px;*/
}

#crop-rotation svg {
  position: absolute;
  top: 0; 
  left: 0;
  z-index: -1;
}

#crop-rotation #crop .parameter {
  float: left;
}

#crop-rotation #crop .parameter > label {
  min-width: 120px;
  max-width: 120px;
  display: block;
  /*margin-left: 10px;*/
}

#crop-rotation .item {
  width: 80px;
  height: 90px;
  position: absolute;
  z-index: 100;
  border: 0px solid;
  border-radius: 5px;
  font-size: 80%;
  color: rgb(153, 153, 153);
  background-color: rgb(34, 34, 34);
}

#crop-rotation .item-body.active {
  background-color: #555;
}

#crop-rotation .item-header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 20px;
  cursor: move;
  background-color: grey;
}

#crop-rotation .item-body {
  border: 0px solid;
  height: 70px;
  position: relative;
  cursor: pointer;
  border-bottom-left-radius: 5px;     
  border-bottom-right-radius: 5px;     
}

#crop-rotation .item-body-left {
/*  border-top-width: 1px;
  border-top-style: solid;*/
  width: 30px;
  height: 70px;
  float: left; 
}

#crop-rotation .item-body-right {
/*  border-left-width: 1px;
  border-left-style: solid;
  border-top-width: 1px;
  border-top-style: solid;*/
  height: 70px;
  overflow: hidden;
  position: relative;
}

#crop-rotation .item-drop {
  width: 10px !important;
  height: 10px !important;
  position: absolute;
  left: 2px;
  top: calc(50% - 5px);
  border-radius: 10px;
  background-color: rgb(153, 153, 153);
}

#crop-rotation .item-drag {
  width: 10px !important;
  height: 10px !important;
  position: absolute;
  top: calc(50% - 5px);
  left: calc(100% - 12px);
  border-radius: 10px;
  cursor: crosshair;
  background-color: rgb(153, 153, 153);
}

#crop-rotation .item-header > span.ui-icon {
  position: absolute;
  top: -2px;
  left: calc(100% - 14px);
  display: inline-block !important;
  vertical-align: middle !important;
  cursor: pointer;
}

#crop-rotation .well-item > .item-header > span.ui-icon {
  display: none !important;
}

#crop-rotation span.item-label {
  margin-top: 10px;
  margin-left: 2px;
  color: rgb(34, 34, 34);
}

#crop-rotation span.item-drag-area {
  position: absolute;
  top: calc(50% - 5px);
  margin-left: 2px;
  display: none;
}

#crop-rotation span.item-drop-area {
  position: absolute;
  top: calc(50% - 5px);
  margin-top: -10px;
  display: none;
}

#crop-rotation .well-item {
  float: left;
  cursor: move;
  z-index: 100;
  width: 60px;
  height: 60px;
  margin-left: 5px;
  margin-top: 5px;
}

#crop-rotation .well-item > .item-header {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-align: center;
}

#crop-rotation .container {
/*  width: 100px;
  height: 300px;*/
  background-color: transparent;
  position: relative;
  float: left;
  border: 0px solid;
  border-color: black;
}

#crop-rotation .item-ha {
  color: red;
}
